
body {
    background-color: gray;
    
}



h1 {
    color: black;
}


h2{
    color: black;

}

#paragrafo-X {
color: black;
    text-align: center;


}

#diferetes{
    color: black;
    text-align: center;
}